<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-indexedsearch-res">
    <div class="panel panel-default">

        <div class="panel-heading">
            <f:format.html><h4 class="panel-title"> <f:if condition="{settings.displayResultNumber}"><span class="tx-indexedsearch-result-number">{row.result_number}</span></f:if> <span class="tx-indexedsearch-title{row.CSSsuffix}">{row.title}</span> <span class="tx-indexedsearch-percent">{row.rating}</span></h4></f:format.html>
        </div>

        <f:if condition="{row.headerOnly} == 0">
            <div class="tx-indexedsearch-description panel-body">
                {row.description}
            </div>

            <div class="panel-footer">
                <dl class="tx-indexedsearch-info dl-horizontal">
                    <f:comment>
                    <dt class="tx-indexedsearch-text-item-size"><f:translate key="result.size" />&nbsp;</dt>
                    <dd class="tx-indexedsearch-text-item-size">{row.size}</dd>
                    </f:comment>

                    <dt class="tx-indexedsearch-text-item-crdate"><f:translate key="result.created" />&nbsp;</dt>
                    <dd class="tx-indexedsearch-text-item-crdate"><f:format.date>@{row.created}</f:format.date></dd>

                    <dt class="tx-indexedsearch-text-item-mtime"><f:translate key="result.modified" />&nbsp;</dt>
                    <dd class="tx-indexedsearch-text-item-mtime"><f:format.date>@{row.modified}</f:format.date></dd>

                    <dt class="tx-indexedsearch-text-item-path"><f:translate key="result.path" />&nbsp;</dt>
                    <dd class="tx-indexedsearch-text-item-path"><f:format.html>{row.path}</f:format.html></dd>
                </dl>
            </div>
        </f:if>

        <f:if condition="{row.headerOnly} == 1">
            <div class="tx-indexedsearch-description panel-body">
                {row.description}
            </div>
        </f:if>

        <f:if condition="{row.subresults}">
            <div class="tx-indexedsearch-list">
                <f:for each="{row.subresults.items}" as="subrow">
                    <f:render partial="Searchresult" arguments="{row: subrow}" />
                </f:for>
            </div>
        </f:if>

    </div>
</div>
</html>
