/*!
 * HOWTO - Working with the SASS structure
 * -------------------------------------------------------------------------------------------------
 *
 * #1: Main structure
 * ./Components/: SASS patterns intended to be used across the site. Pretty much everything in here will be devoted a section in the live style guide.
 * ./Library/: Contains only variables and mixins SASS that does not render any actual CSS, but is used later.
 * ./Sections/: Layouts and other page-specific stylings. Anything that is not intended to be used in multiple places in a versatile way.
 * ./Vendor/: Vendor framework libraries.
 *
 *
 * #2: Include paritals
 * - Uncomment features as you need them, when your user stories demand the functionality.
 * - If you need to modify a partial, create a new one in "Components" and include it after this one!
 */


/*!
 * Website styles
 * -------------------------------------------------------------------------------------------------
 */
// Alternative item animation
.carousel-animation .carousel-inner .item {
    opacity: 0;
    @include scale(2);
    @include transition(all 0.7s ease-in-out);
}
.carousel-animation .carousel-inner .active {
    opacity: 1;
    @include scale(1);
}
.carousel-animation .carousel-inner .active.left,
.carousel-animation .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    @include scale(2);
}
.carousel-animation .carousel-inner .next.left,
.carousel-animation .carousel-inner .prev.right {
    opacity: 1;
    @include scale(1);
}
.carousel-animation .carousel-control {
    z-index: 2;
}

.carousel {
    .carousel-image {
        @extend .img-responsive;
        @include threeme-filter(brightness(80%));
    }

    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        padding: $padding-base-vertical $padding-small-horizontal;
        background-color: rgba(200, 200, 200, 0.7);

        a {
            color: $carousel-caption-color;
            text-decoration: none;
        }

        p {
            margin-bottom: 0;
        }
    }

    .carousel-control {
        text-shadow: none;

        .threeme-ui-prev,
        .threeme-ui-next {
            position: absolute;
            top: 50%;
            left: 20%;
            z-index: 5;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: -10px 0 0 -10px;
            font-size: 30px;
            line-height: 1;
        }

        .threeme-ui-next {
            left: auto;
            right: 20%;
            margin: -10px -10px 0 0;
        }
    }

    .carousel-indicators {
        bottom: 0;
        margin-bottom: 0;

        li {
            width: 14px;
            height: 14px;
            margin: 0 8px;
            background-color: $gray-lighter;

            &:hover,
            &:focus,
            &.active {
                background-color: $carousel-indicator-active-bg;
                border-color: $carousel-indicator-active-bg;
            }
        }
    }

    // Styles for banner mode only
    &.carousel-banner {
        .carousel-caption {
            right: ($grid-gutter-width / 2);
            left: ($grid-gutter-width / 2);
            padding: 0;
            font-size: $font-size-large;
            background-color: transparent;

            .carousel-caption-title {
                margin-bottom: $padding-large-vertical;
                font-size: 42px;
                font-family: $threeme-custom-font;
                text-transform: none;
            }
        }

        @media(max-width: 320px) {
            .carousel-caption {
                .carousel-caption-title {
                    font-size: $font-size-h2;
                }
            }
        }

        @media(min-width: $screen-sm-min) {
            .carousel-caption {
                .carousel-caption-title {
                    font-size: 60px;
                    margin-bottom: ($padding-large-vertical * 3);
                }
            }
        }

        @media(min-width: $screen-md-min) {
            .carousel-image {
                min-height: 500px;
            }

            .carousel-caption {
                .carousel-caption-title {
                    font-size: 96px;
                    margin-bottom: ($padding-large-vertical * 5);
                }
            }
        }

        @media(min-width: $screen-lg-min) {
            .carousel-caption {
                right: 20%;
                left: 20%;
            }
        }
    }
}
