<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:threeme="http://typo3.org/ns/THREEME/Threeme/ViewHelpers">

<f:form class="search" method="post" extensionName="indexedsearch" pluginName="pi2" controller="Search" action="search" pageUid="{threeme:constant(constant:'threeme.frontend.pidSearch')}">
    <div class="form-group">
        <f:form.textfield class="form-control" name="search[sword]" placeholder="{f:translate(key: 'search.sword.placeholder', extensionName: 'threeme')}" />
    </div>
    <f:form.button class="btn btn-default" type="submit" name="search[submitButton]">
        <i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">{f:translate(key: 'search.submit.label', extensionName: 'threeme')}</span>
    </f:form.button>
</f:form>
</html>
